---
import Counter from '../components/Counter'
import Headbar from '../components/HeaderFolder/Headbar';
import FetchTest from '../components/fetch/fetchtest'


---

<html>

    <head>

    </head>
    <body>
        <!-- <Headbar/ client:load> -->
        <FetchTest client:load/>
        <p> here is the home</p>
    </body>
</html>






